@model MusicMarketLogic.Classes.Advertisement
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="eng">
<head>
    <title>AddAdvert</title> 
</head>
<body>
<div class="add-advert-screen">
    @using (Html.BeginForm()){
        
        @Html.AntiForgeryToken()
        
        <div class="add-advert-modal">
            @Html.TextBoxFor(model => model.Name, new{id="add-advert-name", placeholder="Insert Name..."})
            @Html.TextBoxFor(model => model.Price, new{id="add-advert-price", placeholder="Insert Price..."})
            @Html.TextAreaFor(model => model.Description, new{id="add-advert-description", placeholder="Insert Description..."})
            <img src="~/images/search_icon.png" alt="search-icon"> @*Will be of use later*@
            <button type="submit" id="btn-confirm-advert" class="standard-btn btn-active">Confirm</button>
        </div>
    <div class="add-advert-modal-background" id="modal-background">
        <a asp-controller="home" asp-action="Market"></a>
    </div>
    }
</div>
</body>
</html>