@model MessageViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Conversation</title>
</head>
<body>
@if (Model.Messages.Any())
{
    foreach (var message in Model.Messages)
    {
        <div class="message-container">
            <p class="message">@message.Content</p>
        </div>
    }
}
</body>
</html>