@model MarketViewModel

@{
    ViewData["Title"] = "Market";
}
<div class="market-screen">
    <div class="btn-add-advert standard-btn btn-active">
        <a asp-controller="home" asp-action="AddAdvertisement">Add Advert</a>
    </div>
    
    @if (Model.Advertisements.Any())
    {
        foreach (var advert in Model.Advertisements)
        {
            <div class="advert-block" onclick="showElement('advert-modal'); showElement('modal-background')">
                <img src="~/images/search_icon.png" alt="search-icon">
                <p id="itemName">@advert.Name</p>
                <p id="itemPrice">@advert.Price</p>
                <p id="itemStatus">@advert.Status</p>
            </div>
        }
    }
    <div class="advert-modal" id="advert-modal">
        <p id="modal-itemName"></p>
        <p id="modal-itemPrice"></p>
        <p id="modal-itemDescription"></p>
        <img src="~/images/search_icon.png" alt="search-icon">
    </div>
    <div class="advert-modal-background" id="modal-background" onclick="hideElement('advert-modal'); hideElement('modal-background')"></div>
</div>


